body{
    margin: 0;
    padding: 0;
}


.nav-conteiner{

    display: flex;
    justify-content: center;

}
.nav-conteiner>nav>ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}
.nav-conteiner>nav>ul>li>a{
    display: block;
    padding: 5px;
    

}


@media(max-width:900px){
    .nav-conteiner{
        flex-direction: column;
    }
}

.conteiner-img>img{
    margin: 25px;
    width: 1300px;
}